.navbar-items{
    display: flex;
    align-items: center;
    Justify-content: space-between;
}

.icons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main-pictures{
    display: flex;
}

.small-pictures{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery{
    display: flex;
    flex-direction: row;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
